@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

@theme {
    --font-bellefair-regular: "Bellefair", serif;
    --font-bellefair-condensed: "Barlow Condensed", sans-serif;

    --color-blue-900: hsl(230, 35%, 7%);
    --color-blue-300: hsl(231, 77%, 90%);
    --color-white: hsl(0, 0%, 100%);
}
